{% extends 'base/detail.html' %}

{% load render_table from django_tables2 %}

{% block page_title %}CCTV manager | Камера{% endblock %}
{% block page_name %}{{ object.name }}{% endblock %}

{% block detail_table %}
    {% for field_name, field_value in fields %}
        <tr>
            <th scope="row" class="w-25">{{ field_name }}</th>
            <td>{{ field_value }}</td>
        </tr>
    {% endfor %}
    <tr>
        <th scope="row" class="w-25">Статус</th>
        {% if not status %}
            <td>
                <div class="d-flex justify-content-between">
                    <strong style="color: red;">Недоступна</strong>
                </div>
            </td>
        {% else %}
            <td>
                <div class="d-flex justify-content-between">
                    <strong style="color: green;">Доступна</strong>
                </div>
            </td>
        {% endif %}
    </tr>
{% endblock %}
{% block detail_additional %}
    <button type="button" class="btn btn-primary" id="id-camera-reboot" data-bs-toggle="modal"
            data-bs-target="#id_reboot_modal">Перезагрузить</button>
    <div class="modal fade" id="id_reboot_modal" tabindex="-1" aria-labelledby="rebootModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="rebootModalLabel">Вы уверены, что хотите перезагрузить камеру?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Во время перезагрузки прием видеопотока будет невозможен.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <a href="#" class="btn btn-primary">Перезагрузить</a>
                </div>
            </div>
        </div>
    </div>
    <a href="{% url 'camera_edit' object.id %}" class="btn btn-primary">Редактировать</a>
    <button type="button" class="btn btn-danger" id="id-person-delete" data-bs-toggle="modal"
            data-bs-target="#id_delete_modal">Удалить
    </button>
    <div class="modal fade" id="id_delete_modal" tabindex="-1" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Вы уверены, что хотите удалить камеру из системы?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    После удаления, чтобы получать видео с этой камеры, ее снова придется добавить в систему.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <a href="{% url 'camera_delete' object.id %}" class="btn btn-danger">Удалить</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
