{% extends 'base/base.html' %}
{% load bootstrap5 %}

{% block page_title %}CCTV manager | Изменить камеру{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card mb-3 mr-3">
                <div class="card-body">
                    <form method="POST" action="" class="" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button type="submit" class="btn btn-primary" id="id-person-save">Сохранить</button>
                        <a href="{% url 'camera_detail' object.id %}" class="btn btn-danger">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
