{% extends 'base/detail.html' %}
{% load static %}

{% block page_title %}CCTV manager | Трансляция{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card mb-3 mr-3">
            <div class="card-body">
                {% if cameras|length > 0 %}
                {% for camera1, camera2 in cameras %}
                <div class="card-group">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="col" camera-id="{{camera1.id}}">
                                <div class="mb-3" id="id-camera-name-{{camera1.id}}">
                                    <a href="{% url 'camera_detail' camera1.id %}">{{ camera1.name }}</a>
                                    ({{ camera1.ip_address }}) - <strong>Определяется...</strong>
                                </div>
                                <p>Устанавливается соединение с камерой.</p>
                            </div>
                        </div>
                    </div>
                    {% if camera2 == None %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="col" id="id-camera-empty"></div>
                        </div>
                    </div>
                    {% else %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="col" camera-id="{{camera2.id}}">
                                <div class="mb-3" id="id-camera-name-{{camera2.id}}">
                                    <a href="{% url 'camera_detail' camera2.id %}">{{ camera2.name }}</a>
                                    ({{ camera2.ip_address }}) - <strong>Определяется...</strong>
                                </div>
                                <p>Устанавливается соединение с камерой.</p>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
                {% else %}
                <div>
                    <h2>В системе нет зарегистрированных камер. Перейдите на <a
                            href="{% url 'cameras_list' %}">страницу</a> добавления.</h2>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block additional_js %}
<script>
    $(function() {
        $('.col').each(function() {
            if ($(this).attr('id') === 'id-camera-empty') {
                return;
            }
            let camera_id = $(this).attr('camera-id')
            $.ajax({
                url: '/cameras/' + camera_id + '/ping',
                method: 'get',
                success: function(data) {
                    if (data.success) {
                        $('#id-camera-name-' + camera_id).children().last().replaceWith(
                            '<strong style="color: green">Доступна</strong>')
                        set_video(camera_id)
                    } else {
                        $('#id-camera-name-' + camera_id).children().last().replaceWith(
                            '<strong style="color: red">Недоступна</strong>')
                        $('#id-camera-name-' + camera_id).siblings().first().after(
                          '<p>В настоящий момент камера недоступна.</p>')
                        $('#id-camera-name-' + camera_id).siblings().first().remove()
                    }
                },
                error: function(data) {
                    $('#id-camera-name-' + camera_id).children().last().replaceWith(
                        '<strong style="color: red">Не удалось определить</strong>')
                    $('#id-camera-name-' + camera_id).siblings().first().after(
                      '<p>В настоящий момент камера недоступна.</p>')
                    $('#id-camera-name-' + camera_id).siblings().first().remove()
                }
            })
        })
    })

    function set_video(camera_id) {
        {% if is_able_add %} $('#id-camera-name-' + camera_id).siblings().first().after('<button class="btn btn-primary mt-3" style="display: flex;">Начать запись</button>') {% endif %}
        $('#id-camera-name-' + camera_id).siblings().first().after('<img src="cameras/' + camera_id.toString() + '/stream">')
        $('#id-camera-name-' + camera_id).siblings().first().remove()
    }
</script>
{% endblock %}
